/* universal */

.imp-lvl-1 {
    background-color: #FF0000;
}

.imp-lvl-2 {
    background-color: #FFC000;
}

.imp-lvl-3 {
    background-color: #FFFF00;
}

.imp-lvl-4 {
    background-color: #92D050;
}

.imp-lvl-5 {
    background-color: #00B050;
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 11fr .5fr;
}

h3 {
    margin: 1ch 0;
}

a {
    text-decoration: none;
    color: inherit;
}

main > h1 {
    text-align: center;
}

.tip {
    text-align: center;
}

/* header */

header {
    padding: 0 5ch;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: orange;
}

.header-links-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4ch;
}

.main-content {
    margin: 1ch 10ch;
}

/* index.html */

.tiles-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5ch;
}

.tiles-box > * {
    background-color: orange;
    height: 20vh;
    padding: 5ch;
    border-radius: 2ch;
}

#lesson-autoconnect {
    cursor: pointer;
}

.unavailable {
    background-color: #808080;
    color: #bbbbbb;
}

/* timetable */

.main-content.timetable {
    margin: 0 auto;
}

#main-table {
    margin: 0 auto;
}

.timetable-table {
    font-size: 2.5ch;
    table-layout: fixed;
}

.timetable-table > td {
    padding: 1ch 1ch;
}

.timetable-table, td, th {
    border: 1px solid;
    border-collapse: collapse;
    padding: .5ch;
}

.text-center {
    text-align: center;
}

/* footer */

footer {
    display: flex;
    align-items: center;
    padding: 0 5ch;
    background-color: orange;
}